<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wangzhongqiu.spring.mybatis.dao.UserDAO">
    <resultMap id="BaseResultMap" type="wangzhongqiu.spring.mybatis.entity.User">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="id_passed" jdbcType="BIT" property="idPassed"/>
        <result column="mobile_passed" jdbcType="BIT" property="mobilePassed"/>
        <result column="register_time" jdbcType="TIMESTAMP" property="registerTime"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="utm_source" jdbcType="VARCHAR" property="utmSource"/>
        <result column="invite_uid" jdbcType="INTEGER" property="inviteUid"/>
        <result column="intention" jdbcType="VARCHAR" property="intention"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="source_value" jdbcType="VARCHAR" property="sourceValue"/>
        <result column="promotion" jdbcType="VARCHAR" property="promotion"/>
        <result column="account_id" jdbcType="INTEGER" property="accountId"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="ref_id" jdbcType="VARCHAR" property="refId"/>
        <result column="invite_role" jdbcType="VARCHAR" property="inviteRole"/>
        <result column="invite_serial" jdbcType="VARCHAR" property="inviteSerial"/>
        <result column="market_source" jdbcType="VARCHAR" property="marketSource"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, enabled, id_passed, mobile_passed, register_time, user_name, utm_source,
    invite_uid, intention, mobile, source, source_value, promotion, account_id, email,
    ref_id, invite_role, invite_serial, market_source, version, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="wangzhongqiu.spring.mybatis.entity.User">
    insert into user_ (user_id, enabled, id_passed,
    mobile_passed, register_time, user_name,
    utm_source, invite_uid, intention,
    mobile, source, source_value,
    promotion, account_id, email,
    ref_id, invite_role, invite_serial,
    market_source, version, create_time,
    update_time)
    values (#{userId,jdbcType=INTEGER}, #{enabled,jdbcType=BIT}, #{idPassed,jdbcType=BIT},
    #{mobilePassed,jdbcType=BIT}, #{registerTime,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR},
    #{utmSource,jdbcType=VARCHAR}, #{inviteUid,jdbcType=INTEGER}, #{intention,jdbcType=VARCHAR},
    #{mobile,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{sourceValue,jdbcType=VARCHAR},
    #{promotion,jdbcType=VARCHAR}, #{accountId,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR},
    #{refId,jdbcType=VARCHAR}, #{inviteRole,jdbcType=VARCHAR}, #{inviteSerial,jdbcType=VARCHAR},
    #{marketSource,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="wangzhongqiu.spring.mybatis.entity.User">
        insert into user_
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="idPassed != null">
                id_passed,
            </if>
            <if test="mobilePassed != null">
                mobile_passed,
            </if>
            <if test="registerTime != null">
                register_time,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="utmSource != null">
                utm_source,
            </if>
            <if test="inviteUid != null">
                invite_uid,
            </if>
            <if test="intention != null">
                intention,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="sourceValue != null">
                source_value,
            </if>
            <if test="promotion != null">
                promotion,
            </if>
            <if test="accountId != null">
                account_id,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="refId != null">
                ref_id,
            </if>
            <if test="inviteRole != null">
                invite_role,
            </if>
            <if test="inviteSerial != null">
                invite_serial,
            </if>
            <if test="marketSource != null">
                market_source,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
            <if test="idPassed != null">
                #{idPassed,jdbcType=BIT},
            </if>
            <if test="mobilePassed != null">
                #{mobilePassed,jdbcType=BIT},
            </if>
            <if test="registerTime != null">
                #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="utmSource != null">
                #{utmSource,jdbcType=VARCHAR},
            </if>
            <if test="inviteUid != null">
                #{inviteUid,jdbcType=INTEGER},
            </if>
            <if test="intention != null">
                #{intention,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="sourceValue != null">
                #{sourceValue,jdbcType=VARCHAR},
            </if>
            <if test="promotion != null">
                #{promotion,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="refId != null">
                #{refId,jdbcType=VARCHAR},
            </if>
            <if test="inviteRole != null">
                #{inviteRole,jdbcType=VARCHAR},
            </if>
            <if test="inviteSerial != null">
                #{inviteSerial,jdbcType=VARCHAR},
            </if>
            <if test="marketSource != null">
                #{marketSource,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="wangzhongqiu.spring.mybatis.entity.User">
        update user_
        <set>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="idPassed != null">
                id_passed = #{idPassed,jdbcType=BIT},
            </if>
            <if test="mobilePassed != null">
                mobile_passed = #{mobilePassed,jdbcType=BIT},
            </if>
            <if test="registerTime != null">
                register_time = #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="utmSource != null">
                utm_source = #{utmSource,jdbcType=VARCHAR},
            </if>
            <if test="inviteUid != null">
                invite_uid = #{inviteUid,jdbcType=INTEGER},
            </if>
            <if test="intention != null">
                intention = #{intention,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="sourceValue != null">
                source_value = #{sourceValue,jdbcType=VARCHAR},
            </if>
            <if test="promotion != null">
                promotion = #{promotion,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="refId != null">
                ref_id = #{refId,jdbcType=VARCHAR},
            </if>
            <if test="inviteRole != null">
                invite_role = #{inviteRole,jdbcType=VARCHAR},
            </if>
            <if test="inviteSerial != null">
                invite_serial = #{inviteSerial,jdbcType=VARCHAR},
            </if>
            <if test="marketSource != null">
                market_source = #{marketSource,jdbcType=VARCHAR},
            </if>
            version = #{version,jdbcType=INTEGER} + 1,
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="wangzhongqiu.spring.mybatis.entity.User">
    update user_
    set enabled = #{enabled,jdbcType=BIT},
    id_passed = #{idPassed,jdbcType=BIT},
    mobile_passed = #{mobilePassed,jdbcType=BIT},
    register_time = #{registerTime,jdbcType=TIMESTAMP},
    user_name = #{userName,jdbcType=VARCHAR},
    utm_source = #{utmSource,jdbcType=VARCHAR},
    invite_uid = #{inviteUid,jdbcType=INTEGER},
    intention = #{intention,jdbcType=VARCHAR},
    mobile = #{mobile,jdbcType=VARCHAR},
    source = #{source,jdbcType=VARCHAR},
    source_value = #{sourceValue,jdbcType=VARCHAR},
    promotion = #{promotion,jdbcType=VARCHAR},
    account_id = #{accountId,jdbcType=INTEGER},
    email = #{email,jdbcType=VARCHAR},
    ref_id = #{refId,jdbcType=VARCHAR},
    invite_role = #{inviteRole,jdbcType=VARCHAR},
    invite_serial = #{inviteSerial,jdbcType=VARCHAR},
    market_source = #{marketSource,jdbcType=VARCHAR},
    version = #{version,jdbcType=INTEGER} + 1,
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>