<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="wangzhongqiu.spring.springmvc.controller"/>
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-redis.xml"/>
    <!--<import resource="spring-security.xml"/>-->
    <import resource="spring-interceptor.xml"/>
    <!--<import resource="spring-aop.xml"/>-->

    <!--使用Spring中的IoC功能来实现我们所开发项目系统的国际化-->
    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="useCodeAsDefaultMessage" value="true"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="1800"/>
        <property name="basenames">
            <list>
            </list>
        </property>
    </bean>

    <!-- 加载资源文件,可以加载多个-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
            </list>
        </property>
    </bean>
</beans>