<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop   
                           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--  Use jedis 2.2 
    <aop:config>
        <aop:aspect id="serviceCacheAspect" ref="serviceCacheAspect">  
            <aop:pointcut id="serviceCachePointcut" expression="@annotation(com.hoomsun.framework.cache.annotation.RemoteCache)" />  
            <aop:around pointcut-ref="serviceCachePointcut" method="doAround"/>  
        </aop:aspect>  
    </aop:config>  
    <bean id="serviceCacheAspect" class="com.hoomsun.service.aspect.ServiceCacheAspect" />  
    -->

    <!--  Use spring-data-redis framework (depend jedis 2.6 or above ) -->
    <aop:config>
        <!-- Service 缓存通知 -->
        <!--<aop:pointcut id="serviceCachePointcut" expression="@annotation(com.hoomsun.framework.cache.annotation.RemoteCache)" />  -->
        <!--<aop:advisor pointcut-ref="serviceCachePointcut" advice-ref="cacheContextInterceptor" order="3"/>-->

        <!-- Service 参数验证切面 -->
        <aop:aspect id="serviceParamCheckAspect" ref="serviceParamCheckAspect" order="1">
            <aop:pointcut id="serviceParamCheckPointcut" expression="@annotation(wangzhongqiu.spring.springmvc.annotation.ServiceParamCheck)"/>
            <aop:around pointcut-ref="serviceParamCheckPointcut" method="doCheck"/>
        </aop:aspect>
    </aop:config>

    <bean id="serviceParamCheckAspect" class="wangzhongqiu.spring.springmvc.spel.ServiceParamCheckCacheAspect"/>
</beans>